/* Base style for ADMPNS */

h2 {
	color: cornflowerblue;
	font-weight: bold;
}


#main {
    margin: auto;
    width: 600px;
    text-align: center;
}

#header {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	border: 1px solid #000000;
}


